
.vs/MyVirtualPetProject/DesignTimeBuild/.dtbcache
.vs/MyVirtualPetProject/v16/.suo
.vs/MyVirtualPetProject/v16/Server/sqlite3/storage.ide
.vs/MyVirtualPetProject/v16/Server/sqlite3/storage.ide-shm
.vs/MyVirtualPetProject/v16/Server/sqlite3/storage.ide-wal
